@font-face {
	font-family: "DancingScript";
	src: url(fonts/DancingScript-Regular.otf);
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}


.navbar {
    text-align: center;
    background-color: transparent;
    border: none;
}

.navbar .nav > .active > a {
	background-color: transparent;
	color: black;
}

.navbar .nav > .active > a:hover {
	background-color: transparent;
	color: black;
}

.navbar .nav > li > a:hover {
	color: pink;
}

.navbar .nav > li > a {
	padding-left: 40px;
	padding-right: 40px;
}

.navbar  .nav {
    float: none;
    display:inline-block;
}

.imageAndText {
	position: relative;
}

.imageAndText .col {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
}

.imageAndText h1 {
	font-size: 100px;
	color: #A2864D;
	color: black;
	text-align: center;
	font-family: 'DancingScript';
	font-weight: lighter;
	padding-top: 70px;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.pic {
	padding: 20px;

}






